{{ itemName | titlecase }}*: <input type="text" [(ngModel)]="newItem" placeholder="Enter a(n) {{ itemName }}...">

<div *ngIf="optionalValue">
    {{ itemName | titlecase }} Value: <input type="text" [(ngModel)]="itemValue" placeholder="Enter a value for this {{ itemName }}">
    Treat Value of {{ itemName | titlecase }} as Regex: <input type="checkbox" [(ngModel)]="itemIsRegex">
</div>

<div *ngIf="optionalCount">
    Number of Associations: <input type="number" [(ngModel)]="itemCount" min="-1" max="20">
</div>

<button class="button secondary" (click)="queueItem()" title="Save this item">Add</button>

<ul>
    <li *ngFor="let item of items">
        <span *ngIf="item.type">
            <span *ngIf="item.num !== undefined && item.num !== -1">
                {{ item.type }}: {{ item.num }}
            </span>
            <span *ngIf="item.value !== undefined && item.value !== ''">
                {{ item.type }}: {{ item.value }}
            </span>
            <span *ngIf="item.value === '' || item.num === -1">
                {{ item.type }}
            </span>
        </span>
        <span *ngIf="!item.type">
            {{ item }}
        </span>
        <i class="fa fa-trash-o" (click)="deleteItem(item)"></i>
    </li>
</ul>