<ul>
    <li *ngFor="let item of datastore.items">
        <a (click)="editProfile(item)">{{ item.name }}</a> &nbsp;<i class="fa fa-trash-o" (click)="deleteProfile(item.name)"></i>
    </li>
</ul>

<button class="button" (click)="createNewProfile()">Create a new profile</button>

<div class="reveal" id="creditsModal" data-reveal>
  <h1>Credits</h1>
  <p>This app was created by <a href="https://github.com/cezhunter" target="_blank">Cezhunter</a> and <a href="https://hightower.space/" target="_blank">Floyd Hightower</a>. The source code for this app is available <a href="https://github.com/cezhunter/ThreatConnect_DoubleCheck_Spaces" target="_blank">here</a>.</p>
  <p>If you have any feedback, feel free to <a href="https://github.com/cezhunter/ThreatConnect_DoubleCheck_Spaces/issues" target="_blank">raise an issue</a> or <a href="https://hightower.space/contact/" target="_blank">send Floyd feedback</a>.</p>
  <p>If you enjoy the app, please <a href="https://saythanks.io/to/fhightower" target="_blank">say thank you</a>! It's very encouraging to know people are using this app!</p>
</div>
<footer>
  <a data-open="creditsModal"><i>App credits</i></a>
</footer>
