Profile name: <input type="text" [(ngModel)]="profileName" placeholder="Enter a name for this profile...">

<h3>Attribute Config</h3>

<label><input type="checkbox" [(ngModel)]="checkForDuplicateAttributes"> Check for duplicate attributes</label>

<h4>Required Attributes</h4>

<string-array-handler [itemName]="'required attribute'" [optionalValue]="true" (itemsEmitter)="requiredAttributes = $event"></string-array-handler>

<h4>Desired Attributes</h4>

<string-array-handler [itemName]="'desired attribute'" [optionalValue]="true" (itemsEmitter)="desiredAttributes = $event"></string-array-handler>

<div>
    <label><input type="checkbox"> Validate a minimum number of attributes is met</label>
    <label><input type="number" [(ngModel)]="minAttributes" min="0" max="50"> Specify a minimum number of attributes to validate</label>
</div>

<div>
    <label><input type="checkbox"> Validate a maximum number of attributes is met</label>
    <label><input type="number" [(ngModel)]="minAttributes" min="1" max="50"> Specify a maximum number of attributes to validate</label>
</div>

<h3>Tag Config</h3>

<h4>Required Tags</h4>

<string-array-handler [itemName]="'required tag'" (itemsEmitter)="requiredTags = $event"></string-array-handler>

<h4>Desired Tags</h4>

<string-array-handler [itemName]="'desired tag'" (itemsEmitter)="desiredTags = $event"></string-array-handler>

<h3>Association Config</h3>

<string-array-handler [itemName]="'required association (Group/Indicator Type)'" [optionalCount]="true" (itemsEmitter)="requiredAssociations = $event"></string-array-handler>

<string-array-handler [itemName]="'desired association (Group/Indicator Type)'" [optionalCount]="true" (itemsEmitter)="desiredAttributes = $event"></string-array-handler>

<button class="button" (click)="saveProfile()">Save</button> <button class="button secondary" (click)="viewExistingProfiles()">View existing profiles</button>